
<center><h2>Lookalike Model</h2></center>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Display all the columns of the dataframe
pd.pandas.set_option('display.max_columns',None)

- **Customers**, **Products**, and **Transactions** contain complementary information.  
- So, we gather all the required information (Customers,Products, and Transactions data) into a single dataset for analysis and similarity calculation..

In [2]:
# Loading the datasets
customers_data = pd.read_csv("Customers.csv")
products_data = pd.read_csv("Products.csv")
transactions_data = pd.read_csv("Transactions.csv")

# Merging Transactions with Customers
transactions_customers = pd.merge(transactions_data, customers_data, on="CustomerID", how="left")

# Merging the transactions_customers with Products
dataset = pd.merge(transactions_customers, products_data, on="ProductID", how="left")

In [3]:
dataset.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price_x,CustomerName,Region,SignupDate,ProductName,Category,Price_y
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Andrea Jenkins,Europe,2022-12-03,ComfortLiving Bluetooth Speaker,Electronics,300.68
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Brittany Harvey,Asia,2024-09-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,Kathryn Stevens,Europe,2024-04-04,ComfortLiving Bluetooth Speaker,Electronics,300.68
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,Travis Campbell,South America,2024-04-11,ComfortLiving Bluetooth Speaker,Electronics,300.68
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,Timothy Perez,Europe,2022-03-15,ComfortLiving Bluetooth Speaker,Electronics,300.68

Why there are two Price columns?  
This happend during the merge operation from both the datasets(Transactions and Products)  
- **_x**: it had occured from the left dataset (Transactions).
- **_y**: and it was from the right dataset (Products).

In [4]:
# verifying wheteher Price_x and Price_y had any differences.
price_mismatch = dataset[dataset["Price_x"] != dataset["Price_y"]]
print("Price mismatches:\n", price_mismatch)

Price mismatches:
 Empty DataFrame
Columns: [TransactionID, CustomerID, ProductID, TransactionDate, Quantity, TotalValue, Price_x, CustomerName, Region, SignupDate, ProductName, Category, Price_y]
Index: []

- According to the output there is no difference between **Price_x** (from the Transactions dataset) and **Price_y** (from the Products dataset). This indicates that there is consistency in **Price** feature across both the datasets.  
- So, there were no mismatches; we can drop one of the redundant columns.

In [5]:
# Dropping the redundant column (Price_y)
dataset.drop(columns=["Price_y"], inplace=True)

# Renaming the remained column (Price_x) to "Price"
dataset.rename(columns={"Price_x": "Price"}, inplace=True)

# Displaying the cleaned dataset
print(dataset.head())

  TransactionID CustomerID ProductID      TransactionDate  Quantity  \
0        T00001      C0199      P067  2024-08-25 12:38:23         1
1        T00112      C0146      P067  2024-05-27 22:23:54         1
2        T00166      C0127      P067  2024-04-25 07:38:55         1
3        T00272      C0087      P067  2024-03-26 22:55:37         2
4        T00363      C0070      P067  2024-03-21 15:10:10         3

   TotalValue   Price     CustomerName         Region  SignupDate  \
0      300.68  300.68   Andrea Jenkins         Europe  2022-12-03
1      300.68  300.68  Brittany Harvey           Asia  2024-09-04
2      300.68  300.68  Kathryn Stevens         Europe  2024-04-04
3      601.36  300.68  Travis Campbell  South America  2024-04-11
4      902.04  300.68    Timothy Perez         Europe  2022-03-15

                       ProductName     Category
0  ComfortLiving Bluetooth Speaker  Electronics
1  ComfortLiving Bluetooth Speaker  Electronics
2  ComfortLiving Bluetooth Speaker  Electronics
3  ComfortLiving Bluetooth Speaker  Electronics
4  ComfortLiving Bluetooth Speaker  Electronics

In [6]:
dataset.head()

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price,CustomerName,Region,SignupDate,ProductName,Category
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,Andrea Jenkins,Europe,2022-12-03,ComfortLiving Bluetooth Speaker,Electronics
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,Brittany Harvey,Asia,2024-09-04,ComfortLiving Bluetooth Speaker,Electronics
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,Kathryn Stevens,Europe,2024-04-04,ComfortLiving Bluetooth Speaker,Electronics
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,Travis Campbell,South America,2024-04-11,ComfortLiving Bluetooth Speaker,Electronics
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,Timothy Perez,Europe,2022-03-15,ComfortLiving Bluetooth Speaker,Electronics

What is **TotalValue**?  
In the dataset, **TotalValue** represents the total monetary value of a specific transaction.  
It is calculated as:  

<center><h5>TotalValue = Price × Quantity</h5></center>  

Where:  
- **Price**: The price of a single unit of the product involved in the transaction.  
- **Quantity**: The number of units of the product purchased in that transaction.

### Verifying and Correcting 'TotalValue' Field

In [7]:
# 2. Validating 'TotalValue'
incorrect_totalvalue = dataset[dataset["TotalValue"] != dataset["Price"] * dataset["Quantity"]]
print(f"Number of incorrect 'TotalValue' rows: {len(incorrect_totalvalue)}")
if len(incorrect_totalvalue) == 0:
    print("All 'TotalValue' calculations are correct.")

Number of incorrect 'TotalValue' rows: 88

In [8]:
# Correcting 'TotalValue' based on 'Price' and 'Quantity' for rows with discrepancies
dataset.loc[dataset["TotalValue"] != dataset["Price"] * dataset["Quantity"], "TotalValue"] = (
    dataset["Price"] * dataset["Quantity"]
)

# Verifying corrections
incorrect_totalvalue_after_correction = dataset[dataset["TotalValue"] != dataset["Price"] * dataset["Quantity"]]

# Displaying the number of discrepancies after correction
print(f"Number of incorrect 'TotalValue' rows after correction: {len(incorrect_totalvalue_after_correction)}")

# Confirming that the incorrect values has been corrected
if len(incorrect_totalvalue_after_correction) == 0:
    print("All discrepancies in 'TotalValue' have been successfully corrected.")

Number of incorrect 'TotalValue' rows after correction: 0
All discrepancies in 'TotalValue' have been successfully corrected.

### Analyzing the Unique Product, Category, and Region Data

In [9]:
# Displaying all unique product names
unique_products = dataset["ProductName"].unique()

# Converting to a DataFrame for a better readability
unique_products_df = pd.DataFrame(unique_products, columns=["ProductName"])

# Displaying the total number of unique products
print(f"Total Unique Products: {len(unique_products)}")

# Displaying the product names
print("\nList of Unique Product Names:")
print(unique_products_df)

Total Unique Products: 66

List of Unique Product Names:
                        ProductName
0   ComfortLiving Bluetooth Speaker
1                 HomeSense T-Shirt
2             ActiveWear Smartphone
3                  TechPro Textbook
4             TechPro Running Shoes
..                              ...
61           HomeSense Cookware Set
62      BookWorld Bluetooth Speaker
63                 SoundWave Laptop
64      SoundWave Bluetooth Speaker
65                SoundWave T-Shirt

[66 rows x 1 columns]

In [10]:
# Displaying all unique product categories
unique_categories = dataset["Category"].unique()

# Converting to a DataFrame for a better readability
unique_categories_df = pd.DataFrame(unique_categories, columns=["Category"])

# Displaying the total number of unique categories
print(f"Total Unique Categories: {len(unique_categories)}")

# Displaying the category names
print("\nList of Unique Product Categories:")
print(unique_categories_df)

Total Unique Categories: 4

List of Unique Product Categories:
      Category
0  Electronics
1     Clothing
2        Books
3   Home Decor

In [11]:
# Displaying all unique regions
unique_regions = dataset["Region"].unique()

# Converting to a DataFrame for a better readability
unique_regions_df = pd.DataFrame(unique_regions, columns=["Region"])

# Displaying the total number of unique regions
print(f"Total Unique Regions: {len(unique_regions)}")

# Displaying the region names
print("\nList of Unique Regions:")
print(unique_regions_df)

Total Unique Regions: 4

List of Unique Regions:
          Region
0         Europe
1           Asia
2  South America
3  North America

### Imputation handling

In [12]:
# Checking for missing values in the dataset
missing_values = dataset.isnull().sum()

# Displaying columns with missing values
print("Missing values in the dataset:")
print(missing_values[missing_values > 0])

# Total number of missing values across all columns
total_missing = dataset.isnull().sum().sum()
print(f"\nTotal number of missing values in the dataset: {total_missing}")

Missing values in the dataset:
Series([], dtype: int64)

Total number of missing values in the dataset: 0

- There is no missing values in this dataset.

#### Total Spending by Customer

In [13]:
customer_total_spending = dataset.groupby("CustomerID")["TotalValue"].sum()

print("Total Spending by Customer:")
print(customer_total_spending.head())

Total Spending by Customer:
CustomerID
C0001    3354.52
C0002    1862.74
C0003    2725.38
C0004    5354.88
C0005    2034.24
Name: TotalValue, dtype: float64

- Total spending by the each customer

#### Transaction Count (Frequency)

In [14]:
customer_transaction_count = dataset.groupby("CustomerID")["TransactionID"].count()

print("\nTransaction Frequency by Customer:")
print(customer_transaction_count.head())

Transaction Frequency by Customer:
CustomerID
C0001    5
C0002    4
C0003    4
C0004    8
C0005    3
Name: TransactionID, dtype: int64

- It gives the number of transactions made by the each customer

#### Average Price of Purchased Products

In [15]:
customer_average_price = dataset.groupby("CustomerID")["Price"].mean()

print("\nAverage Price by Customer:")
print(customer_average_price.head())

Average Price by Customer:
CustomerID
C0001    278.334000
C0002    208.920000
C0003    195.707500
C0004    240.636250
C0005    291.603333
Name: Price, dtype: float64

- It displays the average price of products purchased by each customer.

#### Favourite (Most Purchased) Product Category

In [16]:
customer_favourite_category = dataset.groupby("CustomerID")["Category"].agg(lambda x: x.mode()[0])


print("\nFavourite Category by Customer:")
print(customer_favourite_category.head())

Favourite Category by Customer:
CustomerID
C0001    Electronics
C0002       Clothing
C0003     Home Decor
C0004          Books
C0005    Electronics
Name: Category, dtype: object

- It Shows the most frequently purchased product category.

#### Region

In [17]:
customer_region = dataset.groupby("CustomerID")["Region"].first()

print("\nRegion by Customer:")
print(customer_region.head())

Region by Customer:
CustomerID
C0001    South America
C0002             Asia
C0003    South America
C0004    South America
C0005             Asia
Name: Region, dtype: object

- It displays the region of each customer

In [18]:
# Concatenating customer-level features
customer_features = pd.concat(
    [customer_total_spending, customer_transaction_count, customer_average_price, customer_favourite_category, customer_region], 
    axis=1
)

# Renaming columns to match the original variable names
customer_features.columns = [
    "customer_total_spending", 
    "customer_transaction_count", 
    "customer_average_price", 
    "customer_favourite_category", 
    "customer_region"
]

# Resetting index for better readability
customer_features = customer_features.reset_index()

# Displaying the resulting DataFrame
print("\nCustomer Features:")
print(customer_features.head())

Customer Features:
  CustomerID  customer_total_spending  customer_transaction_count  \
0      C0001                  3354.52                           5
1      C0002                  1862.74                           4
2      C0003                  2725.38                           4
3      C0004                  5354.88                           8
4      C0005                  2034.24                           3

   customer_average_price customer_favourite_category customer_region
0              278.334000                 Electronics   South America
1              208.920000                    Clothing            Asia
2              195.707500                  Home Decor   South America
3              240.636250                       Books   South America
4              291.603333                 Electronics            Asia

In [19]:
customer_features.head()

,CustomerID,customer_total_spending,customer_transaction_count,customer_average_price,customer_favourite_category,customer_region
0,C0001,3354.52,5,278.334000,Electronics,South America
1,C0002,1862.74,4,208.920000,Clothing,Asia
2,C0003,2725.38,4,195.707500,Home Decor,South America
3,C0004,5354.88,8,240.636250,Books,South America
4,C0005,2034.24,3,291.603333,Electronics,Asia

This following dataset columns are the most helpful for building a Lookalike model since, they successfully capture the consumer behavior, preferences, and patterns:

#### Useful Columns for Lookalike Model
- **CustomerID**: For the purpose of mapping recommendations, this serves as each customer's primary identifier.  
- **customer_total_spending**: Represents the entire amount of money that the customer has spent. It's a crucial indicator for understanding customer purchasing patterns and business worth.  
- **customer_transaction_count**: The number of transactions indicates how frequently customers make purchases, which is crucial information for figuring out how engaged customers are.  
- **customer_average_price**: A customer's purchasing preferences are indicated by the average price of the goods they buy (e.g., budget-friendly vs. premium).  
- **customer_favourite_category**: The most purchased product category provides information about consumer interests and preferences, which is essential for identifying similar customers.  
- **customer_region**: Due to geographical trends, availability, or tastes, customers from the same region may have similar purchases.

#### Why These Columns Are Choosen ?  
These columns represents the key aspects of customer behavior:  

- **Spending behavior**: (customer_total_spending, customer_average_price)
- **Purchase frequency**: (customer_transaction_count)
- **Product preferences**: (customer_favourite_category)
- **Geographic influence**: (customer_region)

### Encoding the Categorical Variables

In [20]:
customer_features = pd.get_dummies(customer_features, columns=["customer_region", "customer_favourite_category"], drop_first=True)

In [21]:
customer_features.head()

,CustomerID,customer_total_spending,customer_transaction_count,customer_average_price,customer_region_Europe,customer_region_North America,customer_region_South America,customer_favourite_category_Clothing,customer_favourite_category_Electronics,customer_favourite_category_Home Decor
0,C0001,3354.52,5,278.334000,False,False,True,False,True,False
1,C0002,1862.74,4,208.920000,False,False,False,True,False,False
2,C0003,2725.38,4,195.707500,False,False,True,False,False,True
3,C0004,5354.88,8,240.636250,False,False,True,False,False,False
4,C0005,2034.24,3,291.603333,False,False,False,False,True,False

- Machine learning algorithms and similarity metrics (like cosine similarity) require numerical data.
- One-hot encoding is a technique used to convert categorical data into a binary (0 or 1) numerical format.

In [22]:
print(customer_features.dtypes)

CustomerID                                  object
customer_total_spending                    float64
customer_transaction_count                   int64
customer_average_price                     float64
customer_region_Europe                        bool
customer_region_North America                 bool
customer_region_South America                 bool
customer_favourite_category_Clothing          bool
customer_favourite_category_Electronics       bool
customer_favourite_category_Home Decor        bool
dtype: object

In [23]:
# Identifying the boolean columns
bool_columns = customer_features.select_dtypes(include=['bool']).columns

# Converting boolean columns to the integers
customer_features[bool_columns] = customer_features[bool_columns].astype(int)

# Verifying the updated data types
print(customer_features.dtypes)

CustomerID                                  object
customer_total_spending                    float64
customer_transaction_count                   int64
customer_average_price                     float64
customer_region_Europe                       int64
customer_region_North America                int64
customer_region_South America                int64
customer_favourite_category_Clothing         int64
customer_favourite_category_Electronics      int64
customer_favourite_category_Home Decor       int64
dtype: object

In [24]:
customer_features.head()

,CustomerID,customer_total_spending,customer_transaction_count,customer_average_price,customer_region_Europe,customer_region_North America,customer_region_South America,customer_favourite_category_Clothing,customer_favourite_category_Electronics,customer_favourite_category_Home Decor
0,C0001,3354.52,5,278.334000,0,0,1,0,1,0
1,C0002,1862.74,4,208.920000,0,0,0,1,0,0
2,C0003,2725.38,4,195.707500,0,0,1,0,0,1
3,C0004,5354.88,8,240.636250,0,0,1,0,0,0
4,C0005,2034.24,3,291.603333,0,0,0,0,1,0

- Transforming categorical variables (customer_region,customer_favourite_category) into numeric format for similarity calculations.

### Standardization

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_features = scaler.fit_transform(customer_features.drop(columns=["CustomerID"]))

In [26]:
scaled_features

array([[-0.06170143, -0.01145819,  0.09467022, ..., -0.54056248,
         1.84992492, -0.51721942],
       [-0.87774353, -0.46749414, -0.90401592, ...,  1.84992492,
        -0.54056248, -0.51721942],
       [-0.40585722, -0.46749414, -1.09410928, ..., -0.54056248,
        -0.54056248,  1.93341543],
       ...,
       [-1.38697529, -1.37956603, -0.46110018, ...,  1.84992492,
        -0.54056248, -0.51721942],
       [-0.81399315, -0.46749414, -0.30420572, ..., -0.54056248,
         1.84992492, -0.51721942],
       [ 0.70636652, -0.01145819,  0.35611784, ...,  1.84992492,
        -0.54056248, -0.51721942]])

Why we had Scaled Features?  
It standardizes the range of numerical data, and ensures:

- All the features be equally contributed to the model.  
- It Avoids the dominance of features with larger ranges over smaller ones.  

**Eg**:  
If **customer_total_spending** ranges in thousands, and **customer_transaction_count** is typically single digits, the larger range might overpower smaller ones in similarity calculations or distance-based models (like cosine similarity or KNN).

###  Computing Similarity Matrix

In [27]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(scaled_features)

In [28]:
similarity_matrix

array([[ 1.        , -0.30649831,  0.15544862, ..., -0.37235445,
         0.29656692, -0.33432379],
       [-0.30649831,  1.        , -0.06499741, ...,  0.66787063,
        -0.10422184,  0.65882546],
       [ 0.15544862, -0.06499741,  1.        , ..., -0.16580598,
        -0.28750152, -0.38596243],
       ...,
       [-0.37235445,  0.66787063, -0.16580598, ...,  1.        ,
         0.38550092,  0.31606985],
       [ 0.29656692, -0.10422184, -0.28750152, ...,  0.38550092,
         1.        , -0.38385404],
       [-0.33432379,  0.65882546, -0.38596243, ...,  0.31606985,
        -0.38385404,  1.        ]])

In [29]:
# Converting to the DataFrame for readability
import pandas as pd
similarity_df = pd.DataFrame(
    similarity_matrix, 
    index=customer_features["CustomerID"], 
    columns=customer_features["CustomerID"]
)

# Display the first few rows
print(similarity_df.head())

CustomerID     C0001     C0002     C0003     C0004     C0005     C0006  \
CustomerID
C0001       1.000000 -0.306498  0.155449  0.350298  0.545282  0.444322
C0002      -0.306498  1.000000 -0.064997 -0.280866  0.027819 -0.296340
C0003       0.155449 -0.064997  1.000000  0.257611 -0.213255  0.253707
C0004       0.350298 -0.280866  0.257611  1.000000 -0.441911  0.553383
C0005       0.545282  0.027819 -0.213255 -0.441911  1.000000 -0.078478

CustomerID     C0007     C0008     C0009     C0010     C0011     C0012  \
CustomerID
C0001       0.523149 -0.350408 -0.381519 -0.389408  0.490767  0.154308
C0002      -0.117335 -0.292210  0.587223  0.703619 -0.229419 -0.422141
C0003      -0.329459  0.183664 -0.290355 -0.091471  0.371781  0.726597
C0004      -0.426576  0.172958 -0.582174 -0.331792  0.733597  0.605890
C0005       0.944697 -0.473082  0.006705 -0.149631 -0.160361 -0.473828

CustomerID     C0013     C0014     C0015     C0016     C0017     C0018  \
CustomerID
C0001       0.147459 -0.314824 -0.227789 -0.368734 -0.315645 -0.349581
C0002       0.160561  0.171278 -0.002707  0.228919 -0.193753 -0.176186
C0003      -0.047574  0.483732 -0.239060 -0.537479 -0.286006 -0.298452
C0004       0.581311 -0.520344 -0.545509 -0.302865  0.282117  0.004295
C0005      -0.464648  0.056527  0.238590 -0.192931 -0.390275 -0.216983

CustomerID     C0019     C0020     C0021     C0022     C0023     C0024  \
CustomerID
C0001      -0.347202  0.253056 -0.138797 -0.338119 -0.260217 -0.324379
C0002       0.015405 -0.037255 -0.240888  0.667950 -0.431450 -0.239672
C0003      -0.222305 -0.227804 -0.357454 -0.374634 -0.525083 -0.406961
C0004      -0.124642 -0.642444  0.532123  0.066925 -0.010237  0.051523
C0005      -0.118071  0.703921 -0.226402 -0.255747 -0.177967 -0.236728

CustomerID     C0025     C0026     C0027     C0028     C0029     C0030  \
CustomerID
C0001       0.147506  0.305115 -0.189489  0.413508 -0.409375 -0.436896
C0002       0.024325 -0.307352  0.412952 -0.373656  0.677211  0.620722
C0003       0.980440 -0.439427  0.049471 -0.387763 -0.188137 -0.270013
C0004       0.174151 -0.382612 -0.095130  0.332997 -0.393027 -0.296489
C0005      -0.146064  0.570562  0.304866  0.293549 -0.133880 -0.232605

CustomerID     C0031     C0032     C0033     C0034     C0035     C0036  \
CustomerID
C0001       0.169434  0.326086 -0.276186 -0.427229  0.293228 -0.301113
C0002      -0.087692  0.277134  0.699366  0.584670 -0.109795  0.157668
C0003       0.973368  0.574168  0.100896 -0.246435 -0.268140 -0.076033
C0004       0.178638  0.206496 -0.402881 -0.150208 -0.382720 -0.384816
C0005      -0.155971  0.115502  0.024567 -0.319602  0.577270  0.098903

CustomerID     C0037     C0038     C0039     C0040     C0041     C0042  \
CustomerID
C0001      -0.443734 -0.419257  0.920311 -0.240201 -0.310728 -0.327307
C0002      -0.358546 -0.080258 -0.265104  0.452423 -0.305370  0.299927
C0003       0.234400  0.426718  0.211669 -0.411006 -0.347511 -0.450495
C0004      -0.244024 -0.253112  0.530924 -0.321947  0.275451 -0.504706
C0005      -0.296306 -0.238768  0.365325  0.061386 -0.392216 -0.009743

CustomerID     C0043     C0044     C0045     C0046     C0047     C0048  \
CustomerID
C0001      -0.129587 -0.221911  0.475513 -0.304767 -0.329136  0.919423
C0002       0.514974 -0.261063 -0.310526 -0.336580 -0.093835 -0.441601
C0003       0.205452 -0.423593 -0.359240 -0.405538 -0.289487 -0.011625
C0004      -0.242951 -0.378863  0.255781  0.214516  0.028291  0.289654
C0005       0.343754  0.105893  0.431674 -0.344233 -0.212912  0.509149

CustomerID     C0049     C0050     C0051     C0052     C0053     C0054  \
CustomerID
C0001      -0.370324  0.272364  0.264697  0.174748 -0.444531  0.358205
C0002       0.544762 -0.324795 -0.481725 -0.142926  0.362822 -0.438357
C0003      -0.183153 -0.461435 -0.519714  0.968759 -0.418329 -0.418120
C0004      -0.019509 -0.476357  0.008084  0.210457 -0.047493  0.329898
C0005      -0.346310  0.589682  0.252953 -0.182625 -0.427672  0.216359

CustomerID     C0055     C0056     C0057     C0058     C0059     C0060  \
CustomerID
C0001       0.294474 -0.332849 -0.366539 -0.280482 -0.324966 -0.266616
C0002      -0.146239  0.777503 -0.224147  0.407026 -0.523249  0.262965
C0003      -0.292691 -0.374189 -0.359000 -0.304023 -0.008012  0.518233
C0004      -0.283370 -0.199473  0.069697 -0.646422  0.120712 -0.375090
C0005       0.510687 -0.065908 -0.279751  0.144342 -0.434779  0.016383

CustomerID     C0061     C0062     C0063     C0064     C0065     C0066  \
CustomerID
C0001      -0.418282 -0.406816 -0.276182 -0.368526 -0.307796  0.265933
C0002       0.569745  0.687514  0.226386 -0.224942 -0.447388 -0.379213
C0003      -0.332237 -0.177375 -0.004039 -0.398485  0.046486 -0.492730
C0004      -0.535251 -0.482554 -0.453652 -0.119182  0.291795 -0.439837
C0005      -0.064912 -0.073659  0.159655 -0.153482 -0.523382  0.552308

CustomerID     C0067     C0068     C0069     C0070     C0071     C0072  \
CustomerID
C0001      -0.443133  0.241781  0.313230 -0.363141  0.346280  0.284032
C0002       0.400911 -0.401387 -0.253874 -0.078330  0.245318 -0.118877
C0003      -0.455411 -0.421507 -0.411515 -0.298816  0.592111 -0.254954
C0004      -0.162161  0.136194 -0.346206 -0.298656  0.276102 -0.250889
C0005      -0.348256  0.154222  0.558927 -0.018388  0.080676  0.481016

CustomerID     C0073     C0074     C0075     C0076     C0077     C0078  \
CustomerID
C0001      -0.323069 -0.266768 -0.274848  0.181406  0.134907 -0.035205
C0002       0.103995 -0.201194 -0.244030 -0.201731  0.730334 -0.025196
C0003      -0.139531 -0.391575 -0.281226  0.922910  0.377465 -0.233426
C0004      -0.422647 -0.409466  0.392555  0.267847  0.052597 -0.437318
C0005       0.102338  0.104350 -0.444726 -0.223211 -0.059632  0.398516

CustomerID     C0079     C0080     C0081     C0082     C0083     C0084  \
CustomerID
C0001      -0.384077 -0.210324 -0.370600  0.287426  0.142764  0.437920
C0002      -0.384591  0.062856 -0.086204 -0.487765  0.723274 -0.171133
C0003       0.138417  0.431788 -0.267303 -0.000713  0.353058 -0.262217
C0004      -0.333056 -0.568794  0.004173  0.784064  0.023948  0.316493
C0005      -0.181080  0.272560 -0.227240 -0.359110 -0.039936  0.354511

CustomerID     C0085     C0086     C0087     C0088     C0089     C0090  \
CustomerID
C0001       0.411422 -0.448381  0.337605 -0.327416 -0.359073 -0.190459
C0002      -0.149948 -0.183967 -0.419702  0.976407 -0.224422  0.047849
C0003       0.265821  0.360868  0.130313 -0.156409  0.209596 -0.180807
C0004       0.244577 -0.317294  0.911114 -0.204457 -0.559856  0.494066
C0005       0.116335 -0.237289 -0.402908 -0.041508  0.003099 -0.137289

CustomerID     C0091     C0092     C0093     C0094     C0095     C0096  \
CustomerID
C0001       0.790909 -0.328437 -0.269400 -0.267597  0.800060  0.795932
C0002      -0.056077  0.832162  0.413038  0.264807  0.036109 -0.533742
C0003       0.327316 -0.315204 -0.366628  0.049413  0.333812 -0.087935
C0004       0.443005 -0.303665  0.332501 -0.247324 -0.020764  0.381631
C0005       0.337320  0.011378 -0.399073  0.033439  0.659658  0.341500

CustomerID     C0097     C0098     C0099     C0100     C0101     C0102  \
CustomerID
C0001      -0.201644 -0.408533  0.129985 -0.394503 -0.149895  0.785392
C0002       0.341615  0.401933  0.094015 -0.475424 -0.170596 -0.496877
C0003       0.646351 -0.410409 -0.069586  0.082118 -0.277101 -0.031065
C0004      -0.408514 -0.049041  0.642698 -0.138117  0.592179  0.655239
C0005       0.188356 -0.384989 -0.505694 -0.329876 -0.265881  0.154804

CustomerID     C0103     C0104     C0105     C0106     C0107     C0108  \
CustomerID
C0001      -0.433338  0.133252  0.287707 -0.346949  0.185071  0.156728
C0002       0.470365 -0.531417 -0.353340  0.946374  0.443212  0.355592
C0003      -0.452062  0.474351 -0.426532 -0.207553  0.093481  0.089139
C0004      -0.394527  0.614773 -0.090370 -0.148531  0.342207  0.607817
C0005      -0.184265 -0.480514  0.356909 -0.096482 -0.292273 -0.479979

CustomerID     C0109     C0110     C0111     C0112     C0113     C0114  \
CustomerID
C0001      -0.321888 -0.230270 -0.376517  0.854115  0.138189  0.273021
C0002       0.221578  0.218610  0.676086 -0.007012 -0.320915 -0.468790
C0003      -0.312836  0.602597 -0.067754  0.341362  0.753423 -0.512574
C0004       0.287555 -0.511417 -0.214932  0.110987  0.653353 -0.146920
C0005      -0.522258  0.233254 -0.213435  0.612190 -0.500176  0.365164

CustomerID     C0115     C0116     C0117     C0118     C0119     C0120  \
CustomerID
C0001       0.485879 -0.332236 -0.338600  0.471249  0.270385  0.928262
C0002      -0.206678 -0.147608 -0.178188 -0.279717 -0.009514 -0.202906
C0003      -0.385273 -0.366960 -0.347276  0.276759 -0.199162  0.179221
C0004      -0.383796 -0.127201 -0.212435  0.752819 -0.361219  0.076733
C0005       0.858863 -0.113603 -0.064034 -0.190785  0.543163  0.677682

CustomerID     C0121     C0122     C0123     C0124     C0125     C0126  \
CustomerID
C0001      -0.248603 -0.314452 -0.117541 -0.434292 -0.322481  0.453665
C0002       0.306875 -0.320171  0.357046 -0.340725 -0.128203 -0.334072
C0003       0.112903 -0.416228  0.022638  0.240318 -0.344570  0.274610
C0004      -0.205055  0.173510 -0.439025 -0.049008 -0.320608  0.874511
C0005       0.014575 -0.320462  0.486186 -0.413809  0.022887 -0.289140

CustomerID     C0127     C0128     C0129     C0130     C0131     C0132  \
CustomerID
C0001       0.306691 -0.232429  0.172740  0.749369 -0.287060 -0.316863
C0002      -0.362198  0.101900  0.627448 -0.025265 -0.008467  0.099976
C0003      -0.501443  0.499627  0.248633  0.217506 -0.251236 -0.151387
C0004      -0.259623 -0.534784  0.097556 -0.181463 -0.462519 -0.445392
C0005       0.483412  0.240501 -0.108323  0.719995  0.147938  0.121250

CustomerID     C0133     C0134     C0135     C0136     C0137     C0138  \
CustomerID
C0001       0.185360 -0.304682 -0.353021 -0.317978  0.495181 -0.276736
C0002       0.511142  0.946395 -0.122223 -0.047385 -0.183943 -0.355869
C0003       0.135872 -0.027891 -0.341508  0.600952  0.399515  0.283498
C0004       0.191154 -0.080643 -0.314818  0.109357  0.699915 -0.005990
C0005      -0.180764 -0.107908 -0.004605 -0.254852 -0.131018 -0.176403

CustomerID     C0139     C0140     C0141     C0142     C0143     C0144  \
CustomerID
C0001      -0.298230  0.503698 -0.240409 -0.166163 -0.296078 -0.351388
C0002      -0.264686  0.071749 -0.157656  0.476428  0.461828  0.702970
C0003      -0.411898 -0.159573 -0.472518  0.162306 -0.366408 -0.048361
C0004       0.138084 -0.499652  0.290570 -0.063994  0.253635 -0.458475
C0005      -0.281680  0.988009 -0.470304  0.248080 -0.363524 -0.023115

CustomerID     C0145     C0146     C0147     C0148     C0149     C0150  \
CustomerID
C0001      -0.280122  0.560262  0.345138  0.907493 -0.462549  0.149266
C0002       0.401645 -0.131673 -0.122687 -0.460498  0.428629  0.597779
C0003      -0.400777 -0.355050  0.303447  0.036850 -0.442371  0.233918
C0004       0.288447 -0.354611  0.865989  0.450837 -0.224655 -0.176049
C0005      -0.379205  0.945066 -0.342912  0.391587 -0.327527  0.098901

CustomerID     C0151     C0152     C0153     C0154     C0155     C0156  \
CustomerID
C0001       0.088725  0.181015  0.446617  0.304486  0.372709 -0.202823
C0002       0.248441 -0.277300 -0.290946 -0.355446 -0.452672 -0.380892
C0003       0.850629  0.918719  0.330595 -0.475089  0.072346 -0.363231
C0004      -0.026492  0.358349  0.921448 -0.204470  0.817417  0.462672
C0005       0.010289 -0.294177 -0.322116  0.448962 -0.317815 -0.456251

CustomerID     C0157     C0158     C0159     C0160     C0161     C0162  \
CustomerID
C0001       0.271016  0.172818 -0.293601 -0.434352 -0.161127  0.489023
C0002      -0.027055 -0.408631  0.115270 -0.156802  0.107076 -0.244022
C0003      -0.193270  0.613912  0.649686  0.379477 -0.139389 -0.337568
C0004      -0.303343  0.168218 -0.380461 -0.277330  0.445815  0.262365
C0005       0.507688 -0.160531  0.102211 -0.244416 -0.122525  0.449056

CustomerID     C0163     C0164     C0165     C0166     C0167     C0168  \
CustomerID
C0001       0.155326 -0.450370  0.265064 -0.435376 -0.322538  0.352297
C0002      -0.462586 -0.251394 -0.267503 -0.122190  0.010187 -0.402667
C0003       0.690638  0.309685  0.207464  0.392655 -0.231955  0.046209
C0004       0.543475 -0.317307  0.970908 -0.410109 -0.447742  0.429215
C0005      -0.433637 -0.245411 -0.481963 -0.158197  0.112775 -0.069286

CustomerID     C0169     C0170     C0171     C0172     C0173     C0174  \
CustomerID
C0001       0.385161 -0.420061  0.426608 -0.422516 -0.141918  0.461343
C0002      -0.082703 -0.424639 -0.377366 -0.092558 -0.221600  0.001362
C0003       0.475214  0.160557  0.210545  0.401899 -0.314397  0.543807
C0004       0.887442 -0.205252  0.740863 -0.222030  0.575648  0.690788
C0005      -0.326394 -0.305000 -0.222758 -0.266885 -0.262510 -0.134106

CustomerID     C0175     C0176     C0177     C0178     C0179     C0181  \
CustomerID
C0001      -0.115946 -0.401821 -0.189559 -0.320322 -0.451557  0.982964
C0002      -0.202569  0.673623  0.354146  0.071337 -0.281340 -0.307936
C0003      -0.249792 -0.151489 -0.036183  0.675483  0.300043  0.152565
C0004       0.643007 -0.408299 -0.149057 -0.242096 -0.174543  0.444125
C0005      -0.344168 -0.114416  0.353117 -0.009488 -0.342597  0.469235

CustomerID     C0182     C0183     C0184     C0185     C0186     C0187  \
CustomerID
C0001      -0.442861 -0.443744  0.905593 -0.256042  0.527461  0.378166
C0002      -0.349404  0.428015 -0.432852 -0.219087 -0.004735 -0.413508
C0003       0.261431 -0.450927 -0.016468 -0.391060 -0.249180  0.056234
C0004      -0.163170 -0.273482  0.426461 -0.368303 -0.468453  0.523204
C0005      -0.346771 -0.274025  0.407907  0.086178  0.988495 -0.114405

CustomerID     C0188     C0189     C0190     C0191     C0192     C0193  \
CustomerID
C0001       0.715866 -0.425457  0.950395  0.494127  0.953504 -0.202157
C0002      -0.538493 -0.106542 -0.164908 -0.138772 -0.190427  0.299265
C0003      -0.087128  0.408064  0.269972  0.425042  0.191943 -0.074405
C0004       0.636243 -0.276128  0.358565  0.668073  0.142730 -0.089770
C0005       0.108075 -0.232176  0.512059 -0.106823  0.655148  0.317934

CustomerID     C0194     C0195     C0196     C0197     C0198     C0199  \
CustomerID
C0001      -0.335697  0.164367 -0.337302  0.277718 -0.372354  0.296567
C0002      -0.151388 -0.278914 -0.459485 -0.031792  0.667871 -0.104222
C0003      -0.300925  0.904064  0.020116 -0.208041 -0.165806 -0.287502
C0004       0.124620  0.506445 -0.293862 -0.484366 -0.579410 -0.447804
C0005      -0.286765 -0.398920 -0.171704  0.630921  0.024950  0.620580

CustomerID     C0200
CustomerID
C0001      -0.334324
C0002       0.658825
C0003      -0.385962
C0004      -0.039737
C0005      -0.182709

Why we used **Cosine Similarity**?  
- It calculates similarity regardless of the vectors' magnitude. This is important when comparing customers with different total spending but similar patterns.  

How to Interpret the Results?  
- **1.0**: Perfectly similar (e.g., customers with identical spending patterns).  
- **0.0**: No similarity (orthogonal vectors, completely different patterns).  
- **-1.0**: Completely opposite patterns (not common for normalized features).

### Generating the Recommendations

In [30]:
similar_customers = {}
for i, customer_id in enumerate(customer_features["CustomerID"][:20]):
    similarity_scores = list(enumerate(similarity_matrix[i]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)[1:4]
    similar_customers[customer_id] = [(customer_features["CustomerID"][j], score) for j, score in similarity_scores]

In [31]:
similar_customers

{'C0001': [('C0181', 0.9829643469753961),
  ('C0192', 0.9535041305694142),
  ('C0190', 0.9503953394872794)],
 'C0002': [('C0088', 0.9764068890164816),
  ('C0134', 0.9463946720184241),
  ('C0106', 0.9463736594511042)],
 'C0003': [('C0025', 0.9804399773534254),
  ('C0031', 0.9733680506789716),
  ('C0052', 0.9687586191651847)],
 'C0004': [('C0165', 0.970907661586851),
  ('C0153', 0.9214483777482797),
  ('C0087', 0.9111137479183313)],
 'C0005': [('C0186', 0.9884948596671941),
  ('C0140', 0.9880089510695753),
  ('C0146', 0.9450658915313815)],
 'C0006': [('C0171', 0.9531784721207105),
  ('C0011', 0.9390052505353642),
  ('C0168', 0.9379172027604062)],
 'C0007': [('C0146', 0.9849330171639457),
  ('C0115', 0.9789839666276232),
  ('C0186', 0.9723725231037348)],
 'C0008': [('C0065', 0.892147853584243),
  ('C0059', 0.7860395194334052),
  ('C0160', 0.7698077613027499)],
 'C0009': [('C0061', 0.9791075049919215),
  ('C0198', 0.9594425561301161),
  ('C0062', 0.9239737736032363)],
 'C0010': [('C0111', 0.9842424289476103),
  ('C0062', 0.9557780164339036),
  ('C0198', 0.8906915452173549)],
 'C0011': [('C0137', 0.9936141864158793),
  ('C0191', 0.9774425159284134),
  ('C0118', 0.9627873213554262)],
 'C0012': [('C0163', 0.9777708930606823),
  ('C0113', 0.9614966457495986),
  ('C0195', 0.947844527603088)],
 'C0013': [('C0099', 0.9881745905413405),
  ('C0108', 0.9409738062153299),
  ('C0107', 0.865278191638058)],
 'C0014': [('C0060', 0.9526912508303435),
  ('C0166', 0.8594154296081794),
  ('C0097', 0.8350502639462867)],
 'C0015': [('C0131', 0.9703437675822334),
  ('C0185', 0.9005552583687698),
  ('C0125', 0.8956541535755839)],
 'C0016': [('C0042', 0.939746200567519),
  ('C0183', 0.9167770578493257),
  ('C0067', 0.8793539949260681)],
 'C0017': [('C0075', 0.9795045023309646),
  ('C0041', 0.9357977389943553),
  ('C0057', 0.9237106015905238)],
 'C0018': [('C0117', 0.9282785588623468),
  ('C0122', 0.9072488950841936),
  ('C0046', 0.9064306451377685)],
 'C0019': [('C0081', 0.9478056594925095),
  ('C0070', 0.8626689730467145),
  ('C0073', 0.8371742305341044)],
 'C0020': [('C0050', 0.8537135391568943),
  ('C0035', 0.8506966988378972),
  ('C0026', 0.8440144837758012)]}

- We had found the top 3 most similar customers based on similarity scores.
- The output results in a dictionary mapping of each customer to their top 3 lookalikes with similarity scores.

### Saving the results to CSV

In [32]:
lookalike_results = []
for cust_id, similar_list in similar_customers.items():
    for similar_cust, score in similar_list:
        lookalike_results.append({"CustomerID": cust_id, "SimilarCustomerID": similar_cust, "Score": score})

lookalike_df = pd.DataFrame(lookalike_results)
lookalike_df.to_csv("Lookalike.csv", index=False)

print("Lookalike.csv generated successfully!")

Lookalike.csv generated successfully!